body {
    width: 1300px;
    margin: auto;
    font-family: "Open Sans";
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
}

.ask-btn {
    background-color: #33836e;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    color: white;
    font-size: 16px;
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 8px;
}

/* .contact{
    display: block;
} */

.phone-number {
    font-weight: bold;
    font-size: 24px;
    display: block;
    color: #33836e;
}

.contact-info {
    color: #2F2B4380;
}

.search {
    border: 0cap;
    width: 427px;
    border-radius: 16px;
    background-color: #2F2B430A;
    font-size: 16px;
    padding: 10px 20px;
}

.menu {
    display: flex;
    align-items: center;
    margin-top: 40px;
    gap: 30px;
    justify-content: space-between;
}

.menu-border {
    border: 1px solid #2F2B4326;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px ;
}

.menu-bord {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}

.bread {
    color: gray;
    margin: 30px;
    margin-left: 0%;
}

.help-text{
    margin-top: 20px;
    margin-bottom: 30px;
}

.wew {
    line-height: 160%;
    color: #140A32;
}

.menu a{
    text-decoration: none;
    font-size: 16px;
    color: #140A32;
    align-items: center;
    border-radius: 10px;
    padding: auto;
}

.features {
    display: flex;
    gap: 20px;
    font-size: 14px;
    margin-top: 20px;
    font-size: 16px;
    align-items: center;
    flex-direction: row;
    padding: auto;
}

.image {
    border-radius: 50%;
    width: 377px;
    height: 402px;
}

.question {
    display: flex;
    gap: 30px;
}

.hero {
    display: flex;
}

.onas{
    display: block;
}

.ew {
    /* display: flex; */
    font-size: 38px;
}

.we {
    font-size: 22px;
}

h3{
    font-size: 38px;
    font-weight: 700;
    font-weight: bold;
    margin: 0px;
}

h4 {
    font-size: 38px;
    margin-top: 50px;
}

.tt {
    font-size: 16px;
    width: 657px;
    height: 78px;
    margin-top: 20px;
}
